<div class="m-3">
  <h1>Stupid Coach</h1>
  <p>Ask your coach anything</p>

  <form action="/answer" data-turbo="false" class="d-flex">
    <input type="text" name="question" class="form-control" style="width:400px">
    <input type="submit" value="Ask!" class="btn btn-primary" >
  </form>
</div>
